.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

.hide {
    display: none;
}

.tableActions {
    width: 155px;
}

.todoForm {
    padding-bottom: 60px;
}